.Rproj.user
.Rhistory
.RData
notes.md
inst/doc
inst/staticdocs
inst/web
vignettes/.build.timestamp
c-ringbuf
ignore
tests/testthat/testing.Rcheck
tests/testthat/testing_*.tar.gz
tests/testthat/ring_standalone
src/ring.so.dSYM
.valgrind_ignore
